@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
	float: left; width: 60%
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside {
 	position: fixed; left: 70%; width: 20%; 
}

footer {
	position: fixed; bottom: 15px; left: 15px;
}

header {
	
}

img {
	max-width: 75%;
}

main {
	float: left; width: 80%;
}

nav {
	float: left;   width: 20%
}

#copyright {
	font-size: 90%; 
}

#main-container {
	position: static;
}